@import '../../styles/abstracts/_variables.scss';
@import '../../styles/abstracts/_mixins.scss';
@import '../../styles/components/_button.scss';

.sectionAbout {
  background-color: $color-background-about-section;
  padding: 25vh 0 15rem  0;
  margin-top: -25vh;


  .aboutContent {
    min-height: 50rem;
    max-width: 1800px;
    margin: auto;
    text-align: center;
    display: flex;
    padding: 2rem 6rem 0  6rem;
    justify-content: center;
    .leftContent {
      width: 50%;
      max-width: 50rem;
    }
    .rightContent {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .imgContent {
        height: 50%;
        width: 70%;
      }
      .linkContent {
        margin-top: 5rem;
      }
    }
  }

  .btnAbout {
    background: $color-background-about-button;
    color: $color-header-links;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
  }


  @include respond(tab-port) {
    padding: 35rem 0;

    .aboutContent {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .leftContent {
        width: 100%;
      }
      .rightContent {
        width: 100%;

        .imgContent {
          padding-top: 10rem;
          align-self: center;
          width: 100%;
        }

        .linkContent {
          padding-top: 4rem;
          align-self: center;
        }
      }
    }
  }
}

.composition {
  position: relative;
  &__photo {
    width: 55%;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
      @include respond(tab-port)  {
        top: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;
      @include respond(tab-port)  {
        top: -1rem;
        transform: scale(1.5);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port)  {
        top: 0;
        left: 0;
      }
    }

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }



    &:hover {
      //  outline: 1.5rem solid $color-primary;
      transform: scale(1.4) translateY(-.1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 120;
    }

  }

  &:hover &__photo:not(:hover) {
    transform: scale(.85);
  }

}
