@import '../../styles/abstracts/_variables.scss';
@import '../../styles/abstracts/_mixins.scss';

.sectionStories {
  background-color: $color-background-stories-section;
  position: relative;
  padding: 8rem 0;
  text-align: center;

  .storiesContent {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
  }
}

.story {
  width: 80%;
  margin: 3rem auto;
  padding: 3rem 0;
  box-shadow: 0 3rem 6rem rgba(black, .1);
  background-color: rgba(white, .6);

  font-size: $default-font-size;

  //transform: skewX(-6deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .leftPart {
    //transform: skewX(6deg);
    position: absolute;
    left: -2.5rem;
    top: -2.5rem;
    transition: all .5s;
    @include respond(phone) {
      transform:  skewX(0);
    }

  }


  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    //border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 1s;

    //margin-top: -2rem;

  }

  &__img {
    height: 40%;
    border-radius: 50%;
    //transform: scale(1);
    backface-visibility: hidden;
    transition: all 1s;
  }

  &__text {
    width: 90%;
    z-index: 99;
    //transform: skewX(6deg);
    transition: all .5s;
    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    color: $color-primary;
    transition: all 0.5s ease-out;
    transform: scale(0.5) translateY(1rem);
    opacity: 0;
  }

  &:hover &__shape {
    width: 15rem;
    height: 15rem;
    margin-top: 0;
  }


  &:hover &__caption {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  &:hover &__img {
    height: 100%;
  }

  &:hover &__text {
    padding-left: 17rem;
  }

  &:hover .leftPart {
    left: 2rem;
    top: calc(50% - 8rem);
    opacity: 0.9;
  }

}
.btnStories {
  display: inline;
  width: 20rem;
  background: $color-background-stories-button;
  color: $color-header-links;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}
