@import '../../styles/abstracts/_variables.scss';
@import '../../styles/abstracts/_mixins.scss';

.sectionStories {
  background-color: $color-background-stories-section;
  padding: 8rem 0 16rem 0;

  .storiesContent {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
  }
}

.story {
  margin: 3rem 3rem;
  padding: 4rem 0;
  box-shadow: 0 3rem 6rem rgba(black, .4);
  background-color: rgba($color-background-stories-story, .6);

  text-align: center;
  position: relative;

  &__leftPart {
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    transition: all .5s;
  }

  &__img {
    overflow: hidden;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    backface-visibility: hidden;
    transition: all 1s;
  }

  &__caption {
    color: $color-primary;
    transition: all 1s ease-out;
    transform: scale(0.5);
    opacity: 0;
  }

  &__text {
    padding: 0 3rem;
    transition: all 0.4s;
    font-size: 1.4rem;

  }


  &:hover &__caption {
    opacity: 1;
    transform: scale(1);
  }

  &:hover &__img {
    width: 14rem;
    height: 14rem;
  }

  &:hover &__text {
    padding-left: 17rem;
    font-size: 1.3rem;
  }

  &:hover &__leftPart {
    left: 2rem;
    top: calc(50% - 7rem);
    opacity: 0.9;
  }

}
.btnStories {
  display: inline;
  width: 20rem;
  background: $color-background-stories-button;
  color: $color-header-links;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}
