
$color-primary: darkgreen;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-header-links: darkblue;
$color-header-links-hover: #00ffff;
$color-primary-text: black;
$color-rooms-card-header-text: white;
$color-rooms-card-price-text: white;
$color-rooms-card-button-text: white;


$color-background-primary: #65e6c3;
$color-background-primary-mask: #65bbff;

$color-header-background: #64BDC2;
$color-header-background-hover: #F3F7FB;

$color-background-about-section: #65e6c3;
$color-background-about-button: #65c6a3;
$color-about-button: darkblue;
$color-background-rooms-section: #b4d9cf;
$color-background-rooms-room1-light: #ffb900;
$color-background-rooms-room1-dark: #ff7730;
$color-background-rooms-room2-light: #7ed56f;
$color-background-rooms-room2-dark: #28b485;
$color-background-rooms-room3-light:#2998ff ;
$color-background-rooms-room3-dark: #2164cf;
$color-background-rooms-room4-light:#d41515 ;
$color-background-rooms-room4-dark: #7a2222;

$color-background-stories-section: #1699D1;
$color-background-stories-button: #4073b7;
$color-background-stories-story: white;

// FONT
$default-font-size: 1.6rem;
$header-bottom-font-family: 'Dancing Script', cursive;
$header-bottom-font-size: 2.5rem;
$font-family: 'Work Sans', sans-serif;





// COLORS



$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-background-primary: #65e6c3;
$color-header-text: #4000ff;
$color-header-text-active: #ff0000;


$color-background-image-filter: #00ffff;
$color-background-footer: #333333;




// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
