@import '../styles/globalVars.scss';

.footer {
  display: flex;
  padding: 4rem 2rem;
  color: #f7f7f7;
  justify-content: space-around;
  background-color: $background-color-footer;
  font-size: 1.6rem;

  .logo {
    align-self: center;
  }

  .logo, .address, .guideance, .aboutUs, .points {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h3 {
      padding-bottom: 1rem;
    }

    a {
      padding: 0.4rem 0;
      text-decoration: none;
      font-size: 1.2rem;
      color: #f7f7f7;
      &:link,
      &:visited {
        color: #f7f7f7;
        background-color: #333;;
        text-decoration: none;
        display: inline-block;
        transition: all .5s;
      }
      &:nth-child(odd):hover,
      &:nth-child(odd):active {
        color: red;
        box-shadow: 0 1rem 2rem rgba($background-color-footer, .9);
        transform: rotate(5deg) scale(1.3);
      }
      &:nth-child(even):hover,
      &:nth-child(even):active {
        color: red;
        box-shadow: 0 1rem 2rem rgba($background-color-footer, .9);
        transform: rotate(-5deg) scale(1.3);
      }
    }
  }


}
