@import '../styles/globalVars.scss';

.footer {
  display: flex;
  padding: 2rem;
  color: #f7f7f7;
  justify-content: space-around;
  background-color: $background-color-footer;

  .logo, .address, .guideance, .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h3 {
      padding-bottom: 1rem;
    }

    a {
      padding: 0.4rem 0;
      text-decoration: none;
      font-size: 0.8rem;
      color: #f7f7f7;
      &:link,
      &:visited {
        color: #f7f7f7;
        background-color: #333;;
        text-decoration: none;
        display: inline-block;
        transition: all .5s;
      }
      &:hover,
      &:active {
        color: white;
        box-shadow: 0 1rem 2rem rgba(black, .4);
        transform: rotate(5deg) scale(1.3);
      }
    }
  }

  .aboutUs {

  }

  .points {

  }
}
