/**************** Variables ****************/
$font-family: 'Work Sans', sans-serif;
$primary-color: #e50914;
$background-color: #00ffff;
$background-image-filter-color: #00ffff;
$primary-color: #fff;
$secondary-color: #9A8487;
$background-color-footer: #333333;

