
.section {
    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.section-two {
    padding: 30vh 0;
    background: #FF6B6C;
    position: relative;
    __z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
}

.image {
    clip-path: circle();
}

.section-three {
    padding: 30vh 0;
    background: #5B5F97;
}